.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.link--header {
  font-size: 2rem;
  cursor: pointer;
  position: relative;
}

.link--header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: all 300ms ease;
}

.link--header:hover::after {
  width: 100%;
}

.message-box {
  margin: 0 2rem;
}

.message-text {
  font-size: 2.4rem;
  line-height: 1.4;
  max-width: 50rem;
  text-align: center;
  margin: 2rem auto;
  background-color: #1982c4;
  padding: 2rem;
  border-radius: 8px;
}
