* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #fff;
  background-color: #222;
}

/* COLORS */
/* 
#1982c4
#8ac926
#ffca3a
#ff595e
#6a4c93
*/
