.container--categories {
  margin-top: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  flex: 1;
  background-color: #6a4c93;
  border-radius: 6px;
}

.link--to-quiz {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.categories {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  flex: 1;
  gap: 1rem;
  padding: 0.4rem;
  font-size: 2rem;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.category--1 {
  background-color: #1982c4;
}
.category--2 {
  background-color: #8ac926;
}
.category--3 {
  background-color: #ffca3a;
}
.category--4 {
  background-color: #ff595e;
}

@media (min-width: 66em) {
  .categories {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    font-size: 2.4rem;
  }
}

@media (min-width: 100em) {
  .categories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 3.2rem;
  }
}
