.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10rem 5rem 8rem 5rem;
  z-index: 20;
  color: #000;
  border-radius: 6px;
  /* background-color: #ffca3a;
  background-color: #1982c4; */
  background-color: #6a4c93;
  width: 90%;
  max-width: 48rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 34, 34, 0.3);
  z-index: 20;
  backdrop-filter: blur(8px);
}

.container--relative {
  position: relative;
}

.modal__container--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.modal__progress-bar {
  width: 100%;
  height: 1.6rem;
  background-color: rgb(240, 240, 240);
  border-radius: 100px;
  position: relative;
}

.modal__progress--correct {
  height: 110%;
  background-color: #8ac926;
  z-index: 21;
}

.modal__progress--wrong {
  height: inherit;
  border-radius: inherit;
  background-color: #ff595e;
  overflow: hidden;
}

.modal__icon--running {
  position: absolute;
  transform: translateX(-50%);
  top: -3.2rem;
  font-size: 2.4rem;
  color: #fff;
}

.modal__icon--finish {
  position: absolute;
  transform: translateX(-50%);
  top: -3.2rem;
  font-size: 2.4rem;
  color: #fff;
  left: 100%;
}

.modal__remaining-questions {
  color: #fff;
  font-size: 2.2rem;
}

.modal__resume-button {
  font-size: 2.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  align-self: stretch;
  transition: all 200ms ease;
}

.modal__resume-button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translateY(-2px);
}

.modal__resume-button:active {
  transform: translateY(0px);
}
